html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  max-width: 1500px;
  margin: 0 auto;
}

header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 3px solid lightcoral;
}

.logo {
  display: flex;
  gap: 4px;
  align-items: center;
}

.logo div:nth-of-type(1) {
  text-align: right;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
}

.logo div:nth-of-type(2) {
  text-align: left;
  font-weight: 900;
  font-size: 50px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

nav ul a {
  text-decoration: none;
  font-weight: 300;
  font-size: 20px;
  color: black;
}

nav ul a:hover {
  font-weight: 400;
}

img {
  width: 50px;
}

main {
  display: grid;
  column-gap: 40px;
  grid-template-columns: 1fr 1fr;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
}

main h1 {
  grid-column: span 2;
  text-align: center;
  font-weight: 500;
}

main a {
  color: black;
  text-decoration: none;
  transition: transform 0.3s, box-shadow 0.3s;
}

main a:hover {
  box-shadow: 0px 3px 10px 0px #d2d2d295;
  transform: translateY(-5px);
}

.right {
  display: grid;
  column-gap: 30px;
  row-gap: 30px;
  grid-template-columns: 1fr 1fr;
}

.card.small {
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.card img {
  height: 200px;
  width: auto;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card__type {
  text-transform: uppercase;
  color: lightcoral;
  font-size: 14px;
  letter-spacing: 3px;
  margin-top: 5px;
  padding-left: 10px;
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.card__description {
  font-weight: 400;
  font-size: 14px;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.card__preparation {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  padding: 10px;
}

.card__preparation__icon span {
  font-size: 15px;
  padding-top: 5px;
  color: lightcoral;
}

.card__preparation__time {
  font-size: 15px;
  font-weight: 400;
  color: lightcoral;
}

.left .card {
  padding: 40px;
  height: 80vh;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    ),
    url("https://images.unsplash.com/photo-1560831457-87b5ec4c5e57?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1286&q=80");
  background-size: cover;
}

.left .card__title {
  color: white;
}

.left .card__description {
  color: white;
  height: auto;
}

@media screen and (max-width: 1025px) {
  .right {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }

  main h1 {
    grid-column: span 1;
  }

  main .left .card {
    height: 355px;
  }

  .card.small {
    display: flex;
  }

  .left .card {
    background: none;
    padding: 0;
    height: 0;
  }
  .left .card__title {
    color: black;
  }

  .left .card__description {
    color: black;
  }

  .card.big {
    display: none;
  }
}
